@import "../variables";

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 2rem;

    &__left-nav {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__icon-img {
        background-size: cover;
        width: 6rem;
    }

    &__icon-title {
        color: $color-primary-dark;
    }
}
