$color-primary: #87ceeb;
$color-primary-dark: #7ab9d4;
$color-primary-light: #93d3ed;

$color-secondary: #ebbb86;
$color-secondary-dark: #a5835e;
$color-secondary-light: #f1cfaa;

$color-tertiary: #8ca2ab;
$color-tertiary-dark: #627178;
$color-tertiary-light: #afbec4;

$color-black: #000;
$color-gray-dark: #444;
$color-gray: #777;
$color-gray-light: #aaa;
$color-white: #fff;

$text-big: 1.9rem;
$text-medium: 1.6rem;
$text-small: 1.3rem;
