$color-primary: #87ceeb;
$color-primary-dark: #5f90a5;
$color-primary-light: #abddf1;

$color-secondary: #004f67;
$color-secondary-dark: #003748;
$color-secondary-light: #4d8495;

$color-tertiary: #974900;
