$color-primary: #87ceeb;
$color-primary-dark: #5f90a5;
$color-primary-light: #abddf1;

$color-secondary: #ebbb86;
$color-secondary-dark: #a5835e;
$color-secondary-light: #f1cfaa;

$color-tertiary: #8ca2ab;
$color-tertiary-dark: #627178;
$color-tertiary-light: #afbec4;

$color-black: #000;
$color-gray-dark: #444;
$color-gray: #777;
$color-gray-light: #aaa;
